tr:nth-child(odd) {
  background-color: #eef7ff;
}

table,
td,
th {
  border-collapse: collapse;
  border: 1px solid #c4dcf3;
  border-left: 0px;
  border-right: 0px;
  padding-left: 5px;
}

.tr1 {
  background-color: #427fef;
  color: white;
}

td {
  width: 100px;
  height: 50px;
  text-align: left;
  font-size: large;
}

th {
  text-align: left;
  height: 50px;
}
