.box {
  width: 50%;
  height: 50%;
  background-color: gold;
  border: 10px solid black;
  box-sizing: border-box;
  overflow: auto;
}
div {
  display: inline-block;
}

.box1 {
  width: 30%;
  height: 30%;
  background-color: gold;
  border: 10px solid black;
  box-sizing: border-box;
  overflow: auto;
}
